<h2><%= @user.name %></h2>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Description: </strong><%= @user.description %></p>

<% @user.projects.each do |project| %>
    <strong>Position: </strong><%= project.title %><br>
    <img src="<%= project.image_url %>" height="150"><br>
    <strong>Information: </strong><%= project.information %><br><br>
<% end %>

<div class="btn-group">
    <button onclick="document.location='/projects/new'">Create Project</button>
    <button onclick="document.location='/logout'">Log Out</button>
</div>