<h2><%= @user.name %></h2>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Description: </strong><%= @user.description %></p>

<% @user.projects.each do |project| %>
    <h4><a href="/projects/<%= project.id %>"><strong>Position: </strong><%= project.title %></a></h4><br>
    <img src="<%= project.image_url %>" height="150"><br>
    <%= project.information %><br><br>
<% end %>

<% if logged_in? && (@user.id == current_user.id) %>
    <div class="btn-group">
        <button onclick="document.location='/projects/new'">Create Project</button>
        <button onclick="document.location='/logout'">Log Out</button>
    </div>
<% end %>